.section__list {
    padding: 20px;
    background-color: white;
    margin-top: 0;
    list-style: none;
  }
  
  
  
  .section__taskRow {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 8px;
    border-bottom: 2px solid #e9e7e7;
  }

  .section__hiddenItem {
    display: none;
  }

  .section__done {
    background-color: darkgreen;
    color: white;
    margin: 2px;
    width: 30px;
    height: 30px;
    transition: 1s;
  }

  .section__remove {
    background-color: red;
    color: white;
    margin: 2px;
    width: 30px;
    height: 30px;
    transition: 1s;
  }
  
  .section__lineThrough {
    text-decoration: line-through;
  }
  
  .section__done:hover {
    background-color: rgb(0, 182, 0);
  }
  
  .section__remove:hover {
    background-color: rgb(255, 108, 108);
  }

  .section__individualTask {
    cursor: default;
  }
