html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  background-color: rgb(236, 236, 236);
  margin: none;
}

.section__iconCheck {
  max-width: 30px;
}

.section__iconRemove {
  max-width: 30px;
}

.section__done {
  border: none;
  background-color: white;
}

.section__remove {
  border: none;
  background-color: white;
}

@media screen and (max-width: 650px) {
  .section__form {
    flex-direction: column;
  }

  .section__input {
    margin-bottom: 10px;
    max-width: 100%;
    margin-right: 0px;
    height: 40px;
    flex-basis: 40px;
  }

  .section__button {
    max-width: 100%;
    transition: background-color 0.3s, transform 0.3s;
  }

  .container {
    margin: 10%;
  }

  .section__titleAndToggleButtons {
    flex-direction: column;
  }

  .js-buttonsTaskList {
    display: flex;
    flex-direction: column;
    margin-right: 1px;
  }

  .section__toggleTasksDone {
    padding: 10px;
    margin: 0;
  }

  .section__allDoneButton {
    padding: 10px;
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .title {
    width: 100%;
    margin: 1px;
  }

  .section {
    width: 100%;
  }

  .container {
    margin: 10%;
  }
}

.section__toggleButtons {
  background-color: white;
  padding: 20px;
  margin-bottom: 2px;
  margin-right: 10px;
  background-color: white;
}

.js-buttonsTaskList {
  margin-right: 20px;
}

button:disabled {
  color: gray;
  cursor: not-allowed;
}

button:disabled:hover {
  color: gray;
  cursor: not-allowed;
}

.section__button:hover {
  transform: scale(1.05);
  background-color: rgb(17, 174, 174);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
