.buttons {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons__changer {
  background-color: white;
  border: none;
  color: teal;
  transition: 1s;
}

.buttons__changer:hover {
  color: rgb(0, 193, 193);
}